{{Infobox Item
|name = Statius's warhammer
|image = [[File:Statius's warhammer (Last Man Standing).png]]
|release = [[11 July]] [[2019]]
|update = Last Man Standing Beta and Splashing Restrictions
|members = No
|quest = No
|tradeable = No
|placeholder = No
|equipable = Yes
|stackable = No
|noteable = Yes
|options = Wield, Drop
|examine = A powerful warhammer.
|value = 300
|alchable = No
|weight = 1.814
|id = 23620
}}
[[File:Statius's warhammer (Last Man Standing) detail.png|160px|left]]
'''Statius's warhammer''' from [[Last Man Standing]] is a minigame-exclusive variant of the normal [[Statius's warhammer]]. It can be obtained  from opening the [[Chest (Last Man Standing)|chests]] with a [[bloodier key]], or looting the [[Crate (Last Man Standing)|crates]] that spawn at random locations on the map. It is dropped on death to whoever killed you.

==Combat stats==
{{Infobox Bonuses
|astab = -4
|aslash = -4
|acrush = 123
|amagic = 0
|arange = 0
|dstab = 0
|dslash = 0
|dcrush = 0
|dmagic = 0
|drange = 0
|str = 114
|rstr = 0
|mdmg = 0
|prayer = 0
|slot = weapon
|speed = 5
|attackrange = 1
|combatstyle = Blunt
|image = [[File:Statius's warhammer equipped male.png|160px]]
|altimage = [[File:Statius's warhammer equipped female.png|160px]]
}}

{{CombatStyles|Blunt|speed=5|attackrange=1}}

==Special attack==
[[File:Smash (Statius's warhammer).gif|thumb|250px|A player performing Statius's warhammer's special attack.]]
Statius's warhammer has a [[special attack]], ''Smash'', that consumes 35% of the player's [[special attack energy]] and deals between 25% and 125% of the user's max hit, while lowering the target's '''current''' [[Defence]] level by 30% on a hit other than zero (the hit has to deal damage - even if it is a [[successful hit]] but rolls a zero, it does not work).

Defence level reductions '''do stack''' over multiple successful hits; each reduction is calculated from the current temporary level (so follow-up drains reduce fewer levels). Two successful special attacks thus reduce an opponent's Defence by a total of 51%.

==Changes==
{{Subject changes header}}
{{Subject changes
|date = 5 September 2019
|update = PvP Balancing, LMS, and Elf Graphics
|change = The item was made usable by free-to-play players, although it is still unavailable to them.
}}
{{Subject changes footer}}

{{Last Man Standing}}
[[Category:Weapons with Special attacks]]
[[Category:Defence reduction]]
